html {
	scroll-behavior: smooth;
}
body {
	font-family: "Kyiv Type Sans";
	position: relative;
}
a {
	text-decoration: none;
	color: black;
}

.section {
	padding-top: 16px;
	padding-bottom: 16px;
}
.fullpage {
	height: 100vh;
}
.container {
	width: 100%;
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 15px;
}
.df {
	display: flex;
}
.dfAlignColCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}
