@font-face {
	font-family: "Kyiv Type Sans Black2";
	src:
		url("../fonts/KyivTypeSans-Black2.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Black2.woff") format(woff),
		url("../fonts/KyivTypeSans-Black2.eot") format(eot);
}

@font-face {
	font-family: "Kyiv Type Sans Bold-";
	src:
		url("../fonts/KyivTypeSans-Bold-.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Bold-.woff") format(woff),
		url("../fonts/KyivTypeSans-Bold-.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Bold2";
	src:
		url("../fonts/KyivTypeSans-Bold2.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Bold2.woff") format(woff),
		url("../fonts/KyivTypeSans-Bold2.eot") format(eot);
}

@font-face {
	font-family: "Kyiv Type Sans Heavy2";
	src:
		url("../fonts/KyivTypeSans-Heavy2.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Heavy2.woff") format(woff),
		url("../fonts/KyivTypeSans-Heavy2.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Heavy-";
	src:
		url("../fonts/KyivTypeSans-Heavy-.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Heavy-.woff") format(woff),
		url("../fonts/KyivTypeSans-Heavy-.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Medium";
	src:
		url("../fonts/KyivTypeSans-Medium.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Medium.woff") format(woff),
		url("../fonts/KyivTypeSans-Medium.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Medium2";
	src:
		url("../fonts/KyivTypeSans-Medium2.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Medium2.woff") format(woff),
		url("../fonts/KyivTypeSans-Medium2.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Medium3";
	src:
		url("../fonts/KyivTypeSans-Medium3.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Medium3.woff") format(woff),
		url("../fonts/KyivTypeSans-Medium3.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Regular";
	src:
		url("../fonts/KyivTypeSans-Regular.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Regular.woff") format(woff),
		url("../fonts/KyivTypeSans-Regular.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Regular2";
	src:
		url("../fonts/KyivTypeSans-Regular2.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Regular2.woff") format(woff),
		url("../fonts/KyivTypeSans-Regular2.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Light";
	src:
		url("../fonts/KyivTypeSans-Light.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Light.woff") format(woff),
		url("../fonts/KyivTypeSans-Light.eot") format(eot);
}
@font-face {
	font-family: "Kyiv Type Sans Light2";
	src:
		url("../fonts/KyivTypeSans-Light2.woff2") format(woff2),
		url("../fonts/KyivTypeSans-Light2.woff") format(woff),
		url("../fonts/KyivTypeSans-Light2.eot") format(eot);
}
