<section class="section about-us">

	<div class="qoute-wrapper">
		<p class="qoute">"Поле для зерна, море можливостей: відкрийте весь потенціал з нами."</p>
	</div>

	<ul class="about-us-list">
		<li class="about-us-item">
			<p class="about-us-item__text">5 років досвіду у галузі агропромисловості</p>
		</li>
		<li class="about-us-item">
			<p class="about-us-item__text">Реалізація до 5000 тон зернових та олійних культур</p>
		</li>
		<li class="about-us-item">
			<p class="about-us-item__text">Швидка оплата запоставлену продукцію</p>
		</li>
		<li class="about-us-item">
			<p class="about-us-item__text">Безкоштовне зберігання продукції</p>
		</li>
	</ul>

	<div class="about-us__wrapper">
		<p class="about-us__text">
			Наша команда має глибоке розуміння ринку та встановила міцні партнерські зв'язки з постачальниками і
			покупцями.
		</p>
		<p class="about-us__text">
			Ми прагнемо стати вашим надійним довгостроковим партнером у зерновій галузі, пропонуючи професійну
			підтримку.
		</p>
	</div>

</section>