<section class="section about-us " id="about-us">

	<div class="qoute-wrapper">
		<p class="qoute-wrapper__text">"Поле для зерна, море можливостей: відкрийте весь потенціал з нами."</p>
	</div>

	<div class="about-us-wrapper__list">
		<ul class="about-us-list">
			<li class="about-us-item">
				<p class="about-us-item__text"><span class="bold-text">5 років досвіду</span> у галузі агропромисловості
				</p>
			</li>
			<li class="about-us-item">
				<p class="about-us-item__text">Реалізація <span class="bold-text">до 5000 тон зернових</span> та <span
						class="bold-text">олійних культур</span></p>
			</li>
			<li class="about-us-item">
				<p class="about-us-item__text"><span class="bold-text">Швидка оплата</span> запоставлену продукцію</p>
			</li>
			<li class="about-us-item">
				<p class="about-us-item__text"><span class="bold-text">Безкоштовне зберігання</span> продукції</p>
			</li>
		</ul>
		<div class="about-us-logo">
			<img class="about-us-logo__img" src="./images/Logo.svg" alt="Logo" width="105">
			<p class="about-us-logo__text">Agrotis Trade</p>
		</div>
	</div>

	<div class="about-us-wrapper__map">
		<img class="about-us__map" src="./images/map.png" alt="Logo" width="255">

		<div class="about-us-wrapper__text">
			<p class="about-us__text">
				Наша команда має глибоке розуміння ринку та встановила міцні партнерські зв'язки з постачальниками і
				покупцями.
			</p>
			<p class="about-us__text">
				Ми прагнемо стати вашим надійним довгостроковим партнером у зерновій галузі, пропонуючи професійну
				підтримку.
			</p>
		</div>
	</div>
</section>