<section class="advantages section " id="advantages">
	<div class="container ">
		<div class="content-wrapper">
			<h2 class="advantages-title">Чому обирають саме нас?</h2>
			<div class="swiper-container swiper  " id="Swiper">
				<div class="swiper-wrapper">
					<div class="card swiper-slide">
						<h3 class="card-title">Екпертиза</h3>
						<p class="card-text">Ми маємо глибокий розуміння ринкових тенденцій і динаміки, завдяки чому
							здатні
							забезпечувати наших клієнтів ефективними та вигідними угодами. Наш довгий досвід дозволяє
							нам
							приймати
							обдумані рішення та прогнозувати зміни в галузі.</p>
					</div>
					<div class="card swiper-slide">
						<h3 class="card-title">Надійна логістика</h3>
						<p class="card-text">Ми маємо власну та надійну логістичну мережу, яка включає як наймані
							автозерновози, так і залізничний транспорт. Це дозволяє нам ефективно організовувати
							транспортування зерна з полів до місць призначення. Ми пильно стежимо за всіма етапами
							логістичного процесу, щоб забезпечити своїм клієнтам швидку та надійну доставку.</p>
					</div>
					<div class="card swiper-slide">
						<h3 class="card-title">Гнучкі умови транспортування</h3>
						<p class="card-text">Ми розуміємо, наскільки важлива є швидка та ефективна доставка зерна. Тому
							пропонуємо вигідні умови транспортування для будь-якого обсягу зернових чи олійних культур.
							Ми
							беремо до уваги технологічні потреби доопрацювання якості зерна і забезпечуємо надійну та
							швидку
							доставку до найближчих лінійних чи портових елеваторів.</p>
					</div>
					<div class="card swiper-slide">
						<h3 class="card-title">Розмаїтість продукції</h3>
						<p class="card-text">Ми закуповуємо майже всі види зернових та олійних сільськогосподарських
							культур. Це включає жито, ячмінь, просо, кукурудзу, ріпак, соняшник, сою, пшеницю та багато
							інших. Завдяки нашому широкому асортименту, ми можемо задовольнити потреби клієнтів у різних
							видів продукції.</p>
					</div>
					<div class="card swiper-slide">
						<h3 class="card-title">Базиси поставки</h3>
						<p class="card-text">Ми пропонуємо гнучкі базиси поставки, які відповідають потребам наших
							клієнтів.
							Ми співпрацюємо з найближчими лінійними чи портовими елеваторами, щоб забезпечити зручне
							зберігання та можливість відвантаження продукції зі складів господарства.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-pagination" id="swiper-pagination"></div>

	</div>
</section>