<section class="advantages section " id="advantages">
	<div class="container ">
		<div class="content-wrapper">
			<h2 class="advantages-title">Чому обирають саме нас?</h2>
			<div class="slideshow-container">
				<div class="card">
					<h3 class="card-title">Екпертиза</h3>
					<p class="card-text">Ми маємо глибокий розуміння ринкових тенденцій і динаміки, завдяки чому здатні
						забезпечувати наших клієнтів ефективними та вигідними угодами. Наш довгий досвід дозволяє нам
						приймати
						обдумані рішення та прогнозувати зміни в галузі.</p>
				</div>
				<div class="arrows">
					<a class="prev">
						<svg width="30" height="30">
							<use href="./images/icons.svg#icon-left"></use>
						</svg></a>
					<a class="next">
						<svg width="30" height="30">
							<use href="./images/icons.svg#icon-right"></use>
						</svg></a>
				</div>
			</div>


			<div class="dots-wrapper">
				<span class="dot active-dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
			</div>
		</div>
	</div>
</section>