<section class="buying section">
	<h2 class="buying-title">Що закуповуємо?</h2>

	<div class="buing__wrapper">
		<p class="buying-text">Ми закуповуємо майже всі зернові та олійні сільськогосподарські культури: жито, ячмінь,
			просо, кукурудза,
			ріпак,
			соняшник, соя, пшениця та ін.. </p>
		<p class="buying-text">Закуповуючи зерно в аграріїв з вигідними умовами та базисами поставки. Маємо надійну та
			зручну логістику:
			працюємо як із найманими, так і з власними автозерновозами та залізничним транспортом.</p>
	</div>

	<div class="contact-us">
		<button class="contact-us__btn">Зв'язатися з нами</button>
		<span><span>*</span>Зв’яжіться з нами, щоб дізнатися про актуальні ціни!</span>
		<p class="contact-us__text">Або зателефонуйте нам:</p>
		<a class="contact-us__link" href="tel:+380 98 491 78 58">+380 98 491 78 58</a>
	</div>

</section>