<section class="buying section fullpage">
	<h2 class="buying-title">Що закуповуємо?</h2>

	<div class="buying__wrapper">
		<p class="buying-text">Ми закуповуємо майже всі <span class="bold-capit">зернові</span> та
			<span class="bold-capit">олійні</span> сільськогосподарські
			культури: <span class="underline">жито</span>, <span class="underline">ячмінь</span>,
			<span class="underline">просо</span>, <span class="underline">кукурудза</span>,
			<span class="underline">ріпак</span>,
			<span class="underline">соняшник</span>, <span class="underline">соя</span>, <span
				class="underline">пшениця</span> та ін..
		</p>
		<p class="buying-text">Закуповуючи зерно в аграріїв з вигідними умовами та базисами поставки. </p>
		<p class="buying-text">Маємо надійну та
			зручну логістику:
			працюємо як із <span class="bold-capit">найманими</span>, так і з <span class="bold-capit">власними
				автозерновозами</span> та <span class="bold-capit">залізничним транспортом.</span></p>
	</div>

	<div class="contact-us">
		<button class=" btn contact-us__btn ">Зв'язатися з нами</button>
		<span class="help-text"><span class="help-text__red">*</span>Зв’яжіться з нами, щоб дізнатися про актуальні
			ціни!</span>
		<p class="contact-us__text">Або зателефонуйте нам:</p>
		<div class="contact-us__wrapper-link">
			<a class="contact-us__link btn" href="tel:+380 98 491 78 58">+380 98 491 78 58</a>
			<svg class="contact-us__link-svg" width="20" height="20">
				<use href="./images/icons.svg#icon-phone"></use>
			</svg>
		</div>
	</div>

</section>