<header class="header">
	<div class="container ">

		<div class="control-wrapper">
			<a class="header-link" href="/">
				<img class="header-link__logo" src="./images/Logo.svg" alt="Logo" width="40">
				<span class="header-link__text">Agrotis Trade</span>
			</a>

			<button class="burger-menu-btn js-open-menu js-close-menu" type="button">
				<div class="burger-bars">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"> </div>
				</div>
			</button>
		</div>


		<nav class="navigation js-menu-container ">
			<ul class="navigation-list">
				<li class="navigation-item "><a class="navigation-link" id="link-about-us"
						href="./index.html">Головна</a>
				</li>
				<li class="navigation-item "><a class="navigation-link" id="link-about-us" href="#elevator">Елеватор</a>
				</li>
				<li class="navigation-item"><a class="navigation-link" id="link-services" href="#contacts">Контакти</a>
				</li>

			</ul>
		</nav>
	</div>
</header>