<section class="section el-hero fullpage" id="elevator">
	<div class="container">
		<h1 class="hero-title">Великоолександрівський Елеватор</h1>
		<h2 class="hero-subtitle el-subtitle">Технічна інформація</h2>
		<table>
			<thead>
				<tr>
					<th>Зберігання</th>
					<th>Доопрацювання</th>
					<th>Очисне обладнання</th>
					<th>Транспортне обладнання</th>
					<th>Автоприймання зерна</th>
					<th>Залізничне приймання</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>ДСП-50 </td>
					<td>Сепаратори БСХ-100, СПО-50</td>
					<td>Траспортери стрічкові</td>
					<td>3 точки</td>

				</tr>
				<tr>
					<td>20 тис. т.</td>
					<td> 260 т/добу</td>
					<td>900 т/добу</td>
					<td>900 т/добу</td>
					<td>500 т/добу</td>
					<td>500 т/добу</td>

				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>Є стрічкові транспортери</td>
					<td></td>

				</tr>
			</tbody>
		</table>

	</div>
</section>