<section class="section el-hero " id="hero">
	<div class="container">

		<h1 class="el-hero__title">елеватор "великоолександрівський" </h1>
		<div class="el-hero__wrapper">
			<p class="el-hero__subtitle">Елеватор Великоолександрівський належить ГК Прометей, був зданий в експлуатацію
				у
				1974 році. Тип елеватора – лінійний. Загальна потужність елеватора складає 16000 тон (напольні склади
				14600
				тон, металеві силоси CHIEF (США) – 5000 тон).</p>

			<p class="el-hero__subtitle">На елеваторі наявні зерносушарки ДСП-50, потужність яких при знятті 10% вологи
				по кукурудзі складає 260
				т/добу.</p>

			<p class="el-hero__subtitle">Наявні сепаратори БСХ-100, СПО-50 забезпечують очищення зерна із потужністю 900
				т/добу. Автозавантаження на
				елеваторі забезпечується на трьох точках прийому із потужністю 500 т/добу, автовідвантаження – 450
				т/добу.
			</p>

			<p class="el-hero__subtitle"> Елеватор здійснює перевірку якості зерна підготовленим персоналом
				сертифікованої
				лабораторії.

				Основний вид діяльності: виробництво продуктів борошномельно-круп'яної промисловості.</p>
		</div>
		<div class="el-hero__wrapper-link">
			<svg class="el-hero__svg" width="10" height="10">
				<use href="./images/icons.svg#icon-triangle"></use>
			</svg>
			<a class="el-hero__link"
				href="https://agrarii-razom.com.ua/elevators/prometey-velikooleksandrivskiy-elevator"
				target="_blank">Дізнатися більше про
				елеватор "Великоолександрівський"</a>
		</div>
	</div>
</section>