<header class="header">
	<div class="container ">

		<div class="control-wrapper">
			<a class="header-link" href="/">
				<img class="header-link__logo" src="./images/Logo.svg" alt="Logo" width="40">
				<span class="header-link__text">Agrotis Trade</span>
			</a>

			<button class="burger-menu-btn js-open-menu js-close-menu" type="button">
				<div class="burger-bars">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"> </div>
				</div>
			</button>
		</div>


		<nav class="navigation js-menu-container">
			<ul class="navigation-list">
				<li class="navigation-item "><a class="navigation-link" href="#about-us">Про нас</a></li>
				<li class="navigation-item"><a class="navigation-link" href="#services">Послуги</a></li>
				<li class="navigation-item"><a class="navigation-link" href="#contacts">Контакти</a></li>
				<li class="navigation-item"><a class="navigation-link" href="#buying">Закуповуємо</a></li>
				<li class="navigation-item"><a class="navigation-link" href="#advantages">Переваги</a></li>
				<li class="navigation-item"><a class="navigation-link" href="#">Елеватор</a></li>
			</ul>
		</nav>
	</div>
</header>