<header class="header ">
	<a class="header-link" href="/">
		<img class="header-link__logo" src="./images/Logo.svg" alt="Logo" width="40">
		<p class="header-link__text">Agrotis Trade</p>
	</a>

	<button class="burger-menu-btn" type="button">

		<svg class="burger-menu-svg" width="31" height="24">
			<use href=" ./images/icons.svg#icon-burger-menu"></use>
			<use href=" ./images/icons.svg#icon-close"></use>
		</svg>

	</button>


	<nav class="navigation ">
		<ul class="navigation-list">
			<li class="navigation-item"><a class="navigation-link" href="#about-us">Про нас</a></li>
			<li class="navigation-item"><a class="navigation-link" href="#contacts">Контакти</a></li>
			<li class="navigation-item"><a class="navigation-link" href="#services">Послуги</a></li>
			<li class="navigation-item"><a class="navigation-link" href="#advantages">Переваги</a></li>
			<li class="navigation-item"><a class="navigation-link" href="#advantages"></a></li>

			<li class="navigation-item"><a class="navigation-link" href="#">Елеватор</a></li>
		</ul>
	</nav>

</header>