<header class="header">
	<div class="container ">

		<div class="control-wrapper">
			<a class="header-link" href="/">
				<img class="header-link__logo" src="./images/Logo.svg" alt="Logo" width="40">
				<span class="header-link__text">Agrotis Trade</span>
			</a>

			<div class="burger-menu-btn js-open-menu js-close-menu">
				<div class="burger-bars">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"> </div>
				</div>
			</div>
		</div>


		<nav class="navigation js-menu-container ">
			<ul class="navigation-list">
				<li class="navigation-item  "><a class="navigation-link" id="link-about-us" href="#about-us">Про нас</a>
				</li>
				<li class="navigation-item"><a class="navigation-link" id="link-services" href="#services">Послуги</a>
				</li>
				<li class="navigation-item"><a class="navigation-link" id="link-buying" href="#buying">Закуповуємо</a>
				</li>
				<li class="navigation-item"><a class="navigation-link" id="link-advantages"
						href="#advantages">Переваги</a></li>
				<li class="navigation-item"><a class="navigation-link" id="link-contacts" href="#contacts">Контакти</a>
				</li>
				<li class="navigation-item link-site"><a class="navigation-link" id="link-"
						href="./elevator.html">Елеватор</a>
				</li>
			</ul>
		</nav>
	</div>
</header>