<section class="section hero">
	<h1 class="hero-title">Agrotis Trade</h1>
	<div class="hero-wrapper">
		<p class="hero-subtitle">Ваш надійний партнер у закупівлі зернових та олійних культур. Ми гарантуємо
			найвигідніші
			умови транспортування будь-якого об’єму зерна.</p>
	</div>
	<div class="hero-svg">
		<svg class="hero-svg__hand" width="31" height="24">
			<use href=" ./images/icons.svg#icon-hand"></use>
		</svg>
		<svg class="hero-svg__triangle" width="31" height="24">
			<use href=" ./images/icons.svg#icon-triangle"></use>
		</svg>
	</div>
</section>