<div class="backdrop-wrapper">
	<div class="modal js-modal">
		<form class="form js-from">
			<button class="close-form" type="button">
				<svg class="icon icon-close" width="20" height='20'>
					<use href="./images/icons.svg#icon-close"></use>
				</svg>
			</button>

			<div class="label-wrapper">
				<label class="form__names label" for="fname">Ім'я</label>
				<span class="help-text__red">*</span>
			</div>
			<input class="form__input" type="text" id="fname" name="fname" placeholder="Іван " required>
			<div class="label-wrapper">
				<label class="form__email label" for="email">Пошта</label>
				<span class="help-text__red">*</span>
			</div>
			<input class="form__input" type="text" id="email" name="email" placeholder="ivan.mazepa@gmail.com" required>
			<div class="label-wrapper">
				<label class="form__phone label" for="Phone">Номер телефону</label>
				<span class="help-text__red">*</span>
			</div>
			<input class="form__input" type="text" id="phone" name="phone" required>

			<label class="form__additional label" for="additInfo">Додаткова інформація</label>
			<textarea class="form__textarea-additional" name="additInfo" id="additInfo" cols="30" rows="4"></textarea>
			<button class="form__button " name="submitBtn" type="submit">Відправити</button>
		</form>
	</div>
</div>