<section class="services section">
	<h2 class="services-title">Наші послуги</h2>

	<ul class="services-list">
		<li class="services-list-item">
			<div class="services-list-item__wrapper">
				<p class="services-list-item__title">Закупівля зерна</p>
				<p class="services-list-item__text ">Ми закуповуємо майже всі види зернових та олійних
					сільськогосподарських
					культур, включаючи жито, ячмінь, просо, кукурудзу, ріпак, соняшник, сою, пшеницю та багато інших. Ми
					готові запропонувати вигідні умови та базиси поставки для наших клієнтів.</p>
			</div>
			<svg class="services-list-svg" width="10" height="10">
				<use href="./images/icons.svg#icon-triangle"></use>
			</svg>
		</li>

		<li class="services-list-item">
			<div class="services-list-item__wrapper">
				<p class="services-list-item__title">Зберігання та складування</p>
				<p class="services-list-item__text">Ми співпрацюємо з найближчими лінійними чи портовими елеваторами, що
					дозволяє нам забезпечити зручне та безпечне зберігання зерна. Ми звертаємо увагу на технологічні
					потреби доопрацювання якості зерна та гарантуємо високу якість зберігання.</p>
			</div>
			<svg class="services-list-svg" width="10" height="10">
				<use href="./images/icons.svg#icon-triangle"></use>
			</svg>
		</li>

		<li class="services-list-item">
			<div class="services-list-item__wrapper">
				<p class="services-list-item__title">Транспортування</p>
				<p class="services-list-item__text">Ми забезпечуємо ефективну логістику транспортування зерна. Ми
					працюємо як
					з найманими, так і з власними автозерновозами та використовуємо залізничний транспорт, щоб
					забезпечити надійну та швидку доставку зерна до місць призначення.</p>
			</div>
			<svg class="services-list-svg" width="10" height="10">
				<use href="./images/icons.svg#icon-triangle"></use>
			</svg>
		</li>

		<li class="services-list-item">
			<div class="services-list-item__wrapper">
				<p class="services-list-item__title">Реалізація продукції</p>
				<p class="services-list-item__text">Ми допомагаємо нашим клієнтам в реалізації їхньої продукції на
					внутрішніх
					та зовнішніх ринках. Ми встановлюємо контакти з потенційними покупцями, проводимо переговори та
					укладаємо угоди, щоб забезпечити оптимальні умови продажу для наших клієнтів.</p>
			</div>
			<svg class="services-list-svg" width="10" height="10">
				<use href="./images/icons.svg#icon-triangle"></use>
			</svg>
		</li>

		<li class="services-list-item">
			<div class="services-list-item__wrapper">
				<p class="services-list-item__title">Підтримка та консультування під час реалізації</p>
				<p class="services-list-item__text">Ми надаємо підтримку та консультування нашим клієнтам протягом
					всього
					процесу реалізації продукції. Ми допомагаємо визначити оптимальні ринкові стратегії, аналізуємо
					попит та конкуренцію, надаємо поради щодо ціноутворення та управління запасами, що допомагає нашим
					клієнтам максимізувати прибуток від реалізації своєї продукції.</p>
			</div>
			<svg class="services-list-svg" width="10" height="10">
				<use href="./images/icons.svg#icon-triangle"></use>
			</svg>
		</li>


	</ul>
</section>