:root {
	--header-bg: #fbf5d6;
	--main-bg: #edd65a;
	--btn-bg: #edd65ae5;

	--photo-filter: #00000054;
	--text-bg: #00000054;

	--font-color-wh: #ffffff;
	--font-color-bl: #000000;
	--font-color-bl50: #00000080;

	--font-size11: 11px;
	--font-size12: 12px;
	--font-size13: 13px;
	--font-size14: 14px;
	--font-size15: 15px;
	--font-size16: 16px;
	--font-size20: 20px;
	--font-size22: 22px;
	--font-size36: 36px;
	--font-size40: 40px;
	--font-size50: 50px;
}
