.btn {
	width: 200px;
	min-height: 26px;
	padding: 15 20;
	text-align: center;

	font-size: var(--font-size14);
	font-family: Kyiv Type Sans Regular;

	border-radius: 6px;
	color: var(--font-color-wh);
	background-color: #000;

	overflow: hidden;
}
