.about-us {
	background-color: var(--main-bg);
	@media (min-width: 1024px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__text {
		// margin-bottom: 20px;
		text-align: center;
		font-size: var(--font-size10);
		font-family: Kyiv Type Sans Regular;
		&:last-child {
			padding-bottom: 0px;
		}
		@media (min-width: 1024px) {
			font-size: var(--font-size20);
		}
	}
	&-list {
		margin-bottom: 25px;
	}
	&-item {
		display: flex;
		margin-bottom: 5px;
		@media (min-width: 768px) {
			margin-bottom: 25px;
		}
		&::before {
			content: "-";
			margin-right: 5px;
		}
		&__text {
			font-family: Kyiv Type Sans Regular;
			font-size: var(--font-size10);
			letter-spacing: 0.3px;
			@media (min-width: 1024px) {
				font-size: var(--font-size20);
			}
		}
	}

	&-logo {
		display: none;
		@media (min-width: 768px) {
			display: block;
		}
	}
}

.about-us-logo {
	display: none;
	@media (min-width: 768px) {
		width: 175px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__img {
		@media (min-width: 768px) {
			width: 105px;
		}
		@media (min-width: 1024px) {
			width: 155px;
		}
	}
	&__text {
		font-family: Kyiv Type Sans Black2;
		text-transform: uppercase;
		font-size: 1.5625rem;
		letter-spacing: 2.125px;
		text-align: center;
		background: linear-gradient(90deg, #709112 0%, rgba(128, 166, 20, 0.72) 48.96%, rgba(145, 189, 23, 0.59) 100%);
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}
}
.about-us-wrapper {
	display: none;
	@media (min-width: 768px) {
		display: block;
		margin-right: 35px;
	}
	&__list {
		@media (min-width: 768px) {
			display: flex;
			justify-content: space-around;
		}
	}
	&__map {
		@media (min-width: 768px) {
			display: flex;
			justify-content: space-around;
		}
	}
	&__text {
		@media (min-width: 768px) {
			min-width: 336px;
			max-width: 400px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}
	}
}

.about-us__map {
	display: none;
	@media (min-width: 768px) {
		width: 255px;
		display: block;
	}
	@media (min-width: 1024px) {
		width: 450px;
		display: block;
	}
}
.qoute-wrapper {
	margin-bottom: 20px;

	display: flex;
	justify-content: end;

	font-family: Kyiv Type Sans Regular;

	@media (min-width: 768px) {
		margin-bottom: 40px;
	}
	@media (min-width: 1024px) {
		margin-bottom: 80px;
	}
	&__text {
		padding-bottom: 5px;
		margin-left: 0;

		width: 210px;

		font-size: var(--font-size10);

		border-bottom: 1px black solid;
		@media (min-width: 768px) {
			width: fit-content;
		}
		@media (min-width: 1024px) {
			font-size: var(--font-size20);
		}
	}
}

.bold-text {
	font-size: var(--font-size10);
	font-family: Kyiv Type Sans Bold-;
}
