.about-us {
	background-color: var(--main-bg);
	padding-top: 16px;
	padding-bottom: 16px;

	&__text {
		margin-bottom: 20px;
		text-align: center;
		font-size: var(--font-size10);
		font-family: Kyiv Type Sans Regular;
		&:last-child {
			padding-bottom: 0px;
		}
	}
	&-list {
		margin-bottom: 25px;
	}
	&-item {
		display: flex;
		margin-bottom: 5px;
		&::before {
			content: "-";
			margin-right: 5px;
		}
		&__text {
			font-family: Kyiv Type Sans Regular;
			font-size: var(--font-size10);
			letter-spacing: 0.3px;
		}
	}
}

.qoute-wrapper {
	margin-bottom: 20px;

	display: flex;
	justify-content: end;

	font-family: Kyiv Type Sans Regular;
	&__text {
		padding-bottom: 5px;
		margin-left: 0;

		width: 210px;

		font-size: var(--font-size10);

		border-bottom: 1px black solid;
	}
}

.bold-text {
	font-size: var(--font-size10);
	font-family: Kyiv Type Sans Bold-;
}
