@use "../utils";

.advantages {
	position: relative;

	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../images/mobile/advantages-background.jpg");
	@include utils.retina {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("../images/mobile/advantages-background@2.jpg");
	}

	@media (min-width: 481px) {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("../images/tablet/advantages-background.jpg");
		@include utils.retina {
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
				url("../images/tablet/advantages-background@2.jpg");
		}
	}
	@media (min-width: 769px) {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("../images/dekstop/advantages-background.jpg");
		@include utils.retina {
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
				url("../images/dekstop/advantages-background@2.jpg");
		}
	}
	@media (min-width: 1024px) {
		display: flex;
		align-items: center;
	}
	& > .container {
		overflow: hidden;
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&-title {
		margin-bottom: 70px;
		letter-spacing: 1.7px;
		color: var(--font-color-wh);
		font-size: var(--font-size40);
		font-family: "Kyiv Type Sans Heavy2";
		@media (min-width: 1200px) {
			font-size: var(--font-size50);
		}
	}
}

.card {
	padding-top: 20px;

	text-align: center;
	color: var(--font-color-wh);

	&-title {
		margin-bottom: 40px;

		font-family: Kyiv Type Sans Bold-;
		font-size: var(--font-size20);
		@media (min-width: 768px) {
			font-size: var(--font-size36);
		}

		@media (min-width: 1200px) {
			font-size: var(--font-size50);
		}
	}

	&-text {
		padding: 10;

		font-family: Kyiv Type Sans Regular;
		letter-spacing: 0.39px;
		@media (min-width: 768px) {
			font-size: var(--font-size20);
			letter-spacing: 0.6px;
			line-height: 1.4;
		}
		@media (min-width: 1024px) {
			font-size: var(--font-size20);
		}
		@media (min-width: 1200px) {
			font-size: var(--font-size36);
		}
	}
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.swiper-container {
	width: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;

	@media (min-width: 1024px) {
		height: 300px;
	}
	@media (min-width: 1200px) {
		height: 500px;
	}
}
.swiper-pagination {
	z-index: 3 !important;
}
#swiper-pagination {
	bottom: 12px;
	@media (min-width: 1024px) {
		top: 90%;
	}
}
#swiper-pagination .swiper-pagination-bullet {
	opacity: 1;
	width: 0.8rem;
	height: 0.8rem;
	background-color: #fff;
}
#swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--main-bg);
}
