@use "../utils";

.advantages {
	height: 500px;
	position: relative;

	padding-top: 18px;
	padding-bottom: 18px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../images/mobile/advantages-background.jpg");
	@include utils.retina {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("../images/mobile/advantages-background@2.jpg");
	}

	@media (min-width: 481px) {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("../images/tablet/advantages-background.jpg");
		@include utils.retina {
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
				url("../images/tablet/advantages-background@2.jpg");
		}
	}
	@media (min-width: 769px) {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("../images/dekstop/advantages-background.jpg");
		@include utils.retina {
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
				url("../images/dekstop/advantages-background@2.jpg");
		}
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slideshow-container {
	margin-bottom: 20px;
	min-width: 320px;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;

	text-align: center;
	color: var(--font-color-wh);

	&-title {
		margin-bottom: 40px;

		font-family: Kyiv Type Sans Bold-;
		font-size: var(--font-size20);
		@media (min-width: 768px) {
			font-size: var(--font-size36);
		}
	}

	&-text {
		padding: 10;

		font-family: Kyiv Type Sans Regular;
		letter-spacing: 0.39px;
		@media (min-width: 768px) {
			font-size: var(--font-size20);
			letter-spacing: 0.6px;
			line-height: 1.4;
		}
	}
}

.dots-wrapper {
	display: flex;
	position: absolute;
	bottom: 15%;
}

.dot {
	display: block;
	width: 12px;
	height: 12px;
	margin-right: 10px;

	border-radius: 50%;
	background-color: #fff;
	&:last-child {
		margin-right: 0;
	}
}

.active-dot {
	background-color: var(--main-bg);
}

.prev {
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	left: 2%;
}

.next {
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	right: 2%;
}
.arrows {
	display: none;
}
