@use "../utils";

.buying {
	padding-top: 18px;
	padding-bottom: 18px;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--main-bg);
	overflow: hidden;

	&::after {
		content: "";
	}
	&::before {
		content: "";
	}

	&-title {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 60px;

		font-family: Kyiv Type Sans Heavy2;
		font-size: var(--font-size36);
	}

	&__wrapper {
		width: 100%;
		margin-bottom: 30px;

		display: flex;
		flex-direction: column;
		align-items: end;

		font-family: Kyiv Type Sans Regular;
		font-size: var(--font-size6);
		@media (min-width: 450px) {
			padding-left: 5%;
			align-items: center;
		}

		@media (min-width: 768px) {
			align-items: end;

			padding-right: 5%;
		}
		@media (min-width: 850px) {
			padding-right: 15%;
		}
		@media (min-width: 1000px) {
			padding-right: 5%;
			padding-right: 5%;
			align-items: center;
		}
	}
	&-text {
		min-width: 120px;
		max-width: 200px;
		margin-bottom: 20px;

		letter-spacing: 0.65px;
		font-size: var(--font-size15);
		@media (min-width: 450px) {
			padding-left: 15%;
			padding-right: 5%;
			min-width: 250px;
			max-width: 400px;
		}
		@media (min-width: 600px) {
			padding: 0;

			min-width: 250px;
			max-width: 400px;
		}

		@media (min-width: 768px) {
			min-width: 400px;

			padding-left: 5%;
			font-size: var(--font-size20);
		}
		@media (min-width: 930px) {
			min-width: 600px;
		}
	}
}

.bold-capit {
	font-weight: bold;
	text-transform: capitalize;
}
.underline {
	text-decoration: underline;
}

.contact-us {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;

	&__text {
		margin-bottom: 10px;

		font-family: Kyiv Type Sans Regular2;
		font-size: var(--font-size13);
	}

	&__wrapper-link {
		position: relative;
		display: flex;
		justify-content: center;
		max-width: 200px;
	}
	&__link {
		width: 100%;
		height: 100%;
	}

	&__link-svg {
		position: absolute;
		top: 50%;
		left: 7%;
		transform: translateY(-50%);
	}
}

.help-text {
	margin-bottom: 10px;

	font-size: 0.5rem;
	font-family: Kyiv Type Sans Regular2;
	&__red {
		color: #ff0000;
	}
}

.background {
	&-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&-left {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 50%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
		background-image: url("../images/mobile/buying-background-left.png");
		@include utils.retina {
			background-image: url("../images/mobile/buying-background-left@2.png");
		}

		@media (min-width: 481px) {
			background-image: url("../images/tablet/buying-background-left.png");
			@include utils.retina {
				background-image: url("../images/tablet/buying-background-left@2.png");
			}
		}
		@media (min-width: 769px) {
			background-image: url("../images/dekstop/buying-background-left.png");
			@include utils.retina {
				background-image: url("../images/dekstop/buying-background-left@2.png");
			}
		}
	}
	&-right {
		position: absolute;
		top: 0%;
		right: 0;
		width: 50%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
		background-image: url("../images/mobile/buying-background-right.png");
		@include utils.retina {
			background-image: url("../images/mobile/buying-background-right@2.png");
		}

		@media (min-width: 481px) {
			background-image: url("../images/tablet/buying-background-right.png");
			@include utils.retina {
				background-image: url("../images/tablet/buying-background-right@2.png");
			}
		}
		@media (min-width: 769px) {
			background-image: url("../images/dekstop/buying-background-right.png");
			@include utils.retina {
				background-image: url("../images/dekstop/buying-background-right@2.png");
			}
		}
	}
}
