@use "../utils";

.buying {
	position: relative;
	display: flex;
	align-items: center;
	padding-top: 30px;
	background-color: var(--main-bg);
	overflow: hidden;

	& > .container {
		z-index: 2;
	}
	&-title {
		text-align: center;
		margin-bottom: 60px;

		font-family: Kyiv Type Sans Heavy2;
		font-size: var(--font-size36);
	}

	&__wrapper {
		width: 100%;
		margin-bottom: 30px;

		display: flex;
		flex-direction: column;
		@media (min-width: 420px) {
			padding-left: 23%;
		}
		@media (min-width: 481px) {
			padding-left: 33%;
		}
		@media (min-width: 1200px) {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
		}
	}
	&-text {
		margin-bottom: 20px;
		text-align: center;
		letter-spacing: 0.65px;
		font-size: var(--font-size20);
		font-family: Kyiv Type Sans Regular2;
	}
}

.bold-capit {
	font-weight: bold;
	text-transform: capitalize;
}
.underline {
	text-decoration: underline;
}

.contact-us {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;

	&__text {
		margin-bottom: 10px;

		font-family: Kyiv Type Sans Regular2;
		font-size: var(--font-size13);
	}

	&__wrapper-link {
		position: relative;
		display: flex;
		justify-content: center;
		max-width: 200px;
	}
	&__link {
		width: 100%;
		height: 100%;
	}

	&__link-svg {
		position: absolute;
		top: 50%;
		left: 7%;
		transform: translateY(-50%);
	}
}

.help-text {
	margin-bottom: 10px;

	font-size: 0.5rem;
	font-family: Kyiv Type Sans Regular2;
	&__red {
		color: #ff0000;
	}
}

.background {
	&-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&-left {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 50%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
		@media (min-width: 420px) {
			background-image: url("../images/mobile/buying-background-left.png");
			@include utils.retina {
				background-image: url("../images/mobile/buying-background-left@2.png");
			}
		}

		@media (min-width: 481px) {
			top: 28%;
			left: -23%;
			transform: scale(1.5);
			background-image: url("../images/tablet/buying-background-left.png");
			@include utils.retina {
				background-image: url("../images/tablet/buying-background-left@2.png");
			}
		}
		@media (min-width: 539px) {
			top: 18%;
		}
		@media (min-width: 769px) {
			top: 9%;
			background-image: url("../images/dekstop/buying-background-left.png");
			@include utils.retina {
				background-image: url("../images/dekstop/buying-background-left@2.png");
			}
		}
		@media (min-width: 900px) {
			left: -7%;
		}
	}
	&-right {
		position: absolute;
		top: -17%;
		right: -8%;
		width: 50%;
		height: 45%;
		background-size: cover;
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
		transform: scale(0.7);

		@media (min-width: 420px) {
			transform: scale(0.8);

			background-image: url("../images/mobile/buying-background-right.png");
			@include utils.retina {
				background-image: url("../images/mobile/buying-background-right@2.png");
			}
		}
		@media (min-width: 481px) {
			top: -10%;
			right: -3%;
			transform: scale(1);

			background-image: url("../images/tablet/buying-background-right.png");
			@include utils.retina {
				background-image: url("../images/tablet/buying-background-right@2.png");
			}
		}
		@media (min-width: 725px) {
			transform: scale(0.7);
			top: -14%;
			right: -12%;
		}
		@media (min-width: 769px) {
			transform: scale(0.5);
			top: -16%;
			right: -13%;
			height: 60%;
			background-image: url("../images/dekstop/buying-background-right.png");
			@include utils.retina {
				background-image: url("../images/dekstop/buying-background-right@2.png");
			}
		}
		@media (min-width: 1200px) {
			top: -25%;

			height: 100%;
		}
	}
}
