@use "../utils";

.buying {
	position: relative;
	display: flex;
	align-items: center;
	padding-top: 30px;
	background-color: var(--main-bg);
	overflow: hidden;

	& > .container {
		z-index: 2;
	}
	&-title {
		text-align: center;
		margin-bottom: 60px;

		font-family: Kyiv Type Sans Heavy2;
		font-size: var(--font-size36);
	}
	&-content__wrapper {
		@media (min-width: 1024px) {
			display: flex;
			justify-content: center;
		}
	}
	&__wrapper {
		position: relative;
		width: 100%;
		margin-bottom: 30px;

		display: flex;
		flex-direction: column;

		@media (min-width: 1024px) {
			width: 50%;

			margin-bottom: 0;
			padding-right: 30px;
			border-right: 2px solid black;
		}
	}
	&-text {
		margin-bottom: 20px;
		text-align: center;
		letter-spacing: 0.65px;
		font-size: var(--font-size20);
		font-family: Kyiv Type Sans Regular2;
		@media (min-width: 1024px) {
			font-size: var(--font-size22);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.bold-capit {
	font-weight: bold;
	text-transform: capitalize;
}
.underline {
	text-decoration: underline;
}

.contact-us {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
	@media (min-width: 1024px) {
		margin-left: 30px;
		margin-right: 0;
	}
	&__text {
		margin-bottom: 10px;

		font-family: Kyiv Type Sans Bold2;
		font-size: var(--font-size13);
		@media (min-width: 1024px) {
			margin-bottom: 20px;

			font-size: var(--font-size22);
		}
	}

	&__wrapper-link {
		position: relative;
		display: flex;
		justify-content: center;
		max-width: 200px;
	}
	&__link {
		width: 100%;
		height: 100%;
	}

	&__link-svg {
		position: absolute;
		top: 50%;
		left: 7%;
		transform: translateY(-50%);
	}
}

.help-text {
	margin-bottom: 10px;
	text-align: center;
	font-size: 0.6rem;
	font-family: Kyiv Type Sans Regular2;
	&__red {
		color: #ff0000;
	}
	@media (min-width: 1024px) {
		margin-bottom: 20px;
		font-size: var(--font-size16);
	}
}
.icons-culture {
	&__wrapper {
		display: none;
		@media (min-width: 1024px) {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
	&__svg {
		border: 1px solid black;
		border-radius: 6;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	}
}
