.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	color: var(--font-color-wh);
	transform: translateY(100%);
	transition: transform 300ms linear;

	&-text {
		margin-bottom: 10px;
		font-family: Kyiv Type Sans Bold 2;
		text-transform: uppercase;
		font-size: var(--font-size16);
		@media (min-width: 1024px) {
			margin-bottom: 0px;
			margin-right: 20px;
		}
	}

	&-copyright {
		font-family: Kyiv Type Sans Bold2;
		text-transform: uppercase;
		font-size: var(--font-size12);
	}
}
.content-wrapper__footer {
	text-align: center;
	@media (min-width: 1024px) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
.visible {
	transform: translateY(0%);
}
