.footer {
	background-color: #000;
	color: var(--font-color-wh);

	&-text {
		margin-bottom: 10px;
		font-family: Kyiv Type Sans Bold 2;
		text-transform: uppercase;
		font-size: var(--font-size16);
	}

	&-copyright {
		font-family: Kyiv Type Sans Bold 2;
		text-transform: uppercase;
		font-size: var(--font-size12);
	}
}
