@use "../utils";
.header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 4;
	width: 100%;

	background-color: var(--header-bg);
	transition: transform 250ms ease-in-out;

	&-link {
		display: flex;
		align-items: center;
		&__logo {
			margin-right: 10px;
		}
		&__text {
			position: relative;
			font-size: var(--font-size20);
			font-family: Kyiv Type Sans Bold2;
			text-transform: uppercase;
			background: linear-gradient(
				90deg,
				#709112 0%,
				rgba(128, 166, 20, 0.72) 48.96%,
				rgba(145, 189, 23, 0.59) 100%
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: background-color 250ms linear;

			&::after {
				content: "";
				position: absolute;
				left: -5%;
				display: inline-block;
				height: 1em;
				width: 110%;
				border-bottom: 2px solid #709112;
				margin-top: 10px;
				opacity: 0;
				-webkit-transition:
					opacity 500ms,
					-webkit-transform 500ms;
				transition:
					opacity 500ms,
					transform 500ms;
				-webkit-transform: scale(0, 1);
				transform: scale(0, 1);
			}

			&:hover::after {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
	}
	& > .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	&.hide {
		transform: translateY(-50px);
	}
}

.navigation {
	position: absolute;
	top: 100%;
	right: 0%;
	width: 100%;
	background-color: var(--header-bg);
	transform: translateX(100%);
	transition: transform 300ms ease-in-out;
	z-index: 3;

	@media (min-width: 768px) {
		display: flex;
		align-items: center;
		width: fit-content;
	}
	&-list {
		height: 100%;
		padding: 22px;
		font-family: Kyiv Type Sans Medium;
		font-size: var(--font-size22);
		@media (min-width: 768px) {
			display: flex;
			padding: 0;
			font-size: var(--font-size15);
		}
	}
	&-item {
		height: 100%;

		margin-bottom: 10px;
		@media (min-width: 768px) {
			margin-right: 15px;
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	@media (min-width: 768px) {
		position: static;
		transform: translateY(0);
	}
	&-link {
		position: relative;
		height: 100%;
		transition: color 250ms linear;
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			letter-spacing: 0.39px;
		}

		&:hover,
		&:focus {
			color: #91bd17;
		}
	}
}
.burger-menu-btn {
	width: 30px;
	height: 30px;
	@media (min-width: 768px) {
		display: none;
	}
}
.burger-bars {
	width: 100%;
	height: 100%;
}
.menu-open {
	transform: translateX(0%);
}

.bar {
	display: block;
	width: 27px;
	height: 5px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background-color: #91bd17;
	border-radius: 6px;
	&:nth-child(1) {
		margin-top: 0;
	}
	&:nth-child(3) {
		margin-bottom: 0;
	}
}

.burger-menu-btn.active .bar:nth-child(2) {
	opacity: 0;
}
.burger-menu-btn.active .bar:nth-child(1) {
	transform: translateY(11px) rotate(45deg);
}
.burger-menu-btn.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
.control-wrapper {
	height: 100%;
	width: 100%;
	background-color: var(--header-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
