.hero {
	position: relative;

	padding-top: 26px;
	padding-bottom: 26px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background: url("../images/mobile-hero.jpg") no-repeat center;
	background-size: cover;

	color: var(--font-color-wh);

	&-title {
		margin-bottom: 29px;

		text-align: center;
		text-transform: uppercase;

		letter-spacing: 1.7px;

		font-size: var(--font-size36);
		font-family: "Kyiv Type Sans Black2";
		@media (min-width: 768px) {
			font-size: var(--font-size40);
		}
	}

	&-subtitle {
		padding-left: 8px;
		padding-right: 8px;

		font-family: "Kyiv Type Sans Medium2";
		font-size: var(--font-size18);

		text-align: center;

		letter-spacing: 0.42px;
		@media (min-width: 768px) {
			font-size: var(--font-size22);
		}
	}

	&-wrapper {
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: var(--photo-filter);
	}
	&-svg {
		display: flex;
		flex-direction: column;

		&__triangle {
			display: none;
			transform: rotate(180deg);
		}
		&__hand {
			position: absolute;
			right: 47%;
			top: 85%;
		}
	}
}
