.backdrop-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 300ms ease-in-out,
		visibility 300ms ease-in-out;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
	min-height: 38%;
	width: 95%;
	max-width: 600px;
	background-color: #000;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	opacity: 0;
	transform: scale(0.8);
	transition:
		opacity 300ms ease-in-out,
		transform 300ms ease-in-out;
	&.active {
		opacity: 1;
	}
}
.form {
	width: 90%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	color: var(--font-color-wh);
	&__input {
		height: 40px;
		width: 100%;
		padding: 5px 10px;
		margin-bottom: 10px;

		font-family: Kyiv Type Sans Regular2;
		font-size: var(--font-size16);

		border: none;
		border-radius: 6px;
	}
	&__textarea-additional {
		width: 100%;
		margin-bottom: 20px;
		font-family: Kyiv Type Sans Regular2;
		border-radius: 6px;
		padding: 10px;
	}
	&__button {
		width: 50%;
		background-color: var(--main-bg);
		padding: 10px;
		font-family: Kyiv Type Sans Black2;
		border-radius: 6px;
		color: var(--font-color-bl);
		@media (min-width: 420px) {
			padding: 20px;
		}
	}
}
.label {
	font-family: Kyiv Type Sans Black2;
	font-size: var(--font-size22);
	margin-bottom: 10px;
}
.close-form {
	cursor: pointer;
	position: absolute;
	top: 3%;
	right: 3%;
}
