@use "../utils";

.services {
	height: 650px;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/mobile/services-background.jpg");
	@include utils.retina {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/mobile/services-background@2.jpg");
	}

	@media (min-width: 481px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/tablet/services-background.jpg");
		@include utils.retina {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/tablet/services-background@2.jpg");
		}
	}
	@media (min-width: 769px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/dekstop/services-background.jpg");
		@include utils.retina {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/dekstop/services-background@2.jpg");
		}
	}
	@media (min-width: 1024px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&-title {
		color: #fff;
		text-align: center;
		margin-bottom: 24px;
		font-size: var(--font-size36);
		font-family: Kyiv Type Sans Heavy2;
		@media (min-width: 1024px) {
			margin-bottom: 40px;
			font-size: var(--font-size40);
		}
	}

	&-list {
		min-height: 85%;
		&-item {
			border-radius: 6px;
			background-color: var(--btn-bg);
			min-width: 100%;
			position: relative;
			margin-bottom: 10px;
			cursor: pointer;
			&__title {
				position: relative;

				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 15px;
				padding-right: 30px;

				text-align: center;
				font-family: Kyiv Type Sans Heavy2;
				font-size: var(--font-size20);
				transition: all 0.2s linear;
				@media (min-width: 1024px) {
					font-size: var(--font-size22);
					padding-top: 15px;
					padding-bottom: 15px;
					padding-left: 20px;
					padding-right: 35px;
				}
			}

			&__text {
				padding: 0 15px;
				overflow: hidden;
				overflow-y: auto;

				text-align: center;

				font-family: Kyiv Type Sans Regular;
				font-size: var(--font-size10);
				line-height: 1.4;

				background-color: var(--main-bg);
				border-end-start-radius: 6px;
				border-end-end-radius: 6px;
				transition: all 0.2s linear;
				@media (min-width: 1024px) {
					font-size: var(--font-size20);
				}
			}

			&__wrapper {
				position: relative;
			}
		}
		&-svg {
			position: absolute;
			top: 50%;
			right: 3%;
			transform: translateY(-50%) rotate(-180deg);
			transition: transform 0.3s linear;
		}
	}
}
.services-list-item--active .services-list-svg {
	transform: rotate(0);
}
