@use "../utils";

.services {
	padding-top: 16px;
	padding-bottom: 16px;

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/mobile/services-background.jpg");
	@include utils.retina {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/mobile/services-background@2.jpg");
	}

	@media (min-width: 481px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/tablet/services-background.jpg");
		@include utils.retina {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/tablet/services-background@2.jpg");
		}
	}
	@media (min-width: 769px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/dekstop/services-background.jpg");
		@include utils.retina {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/dekstop/services-background@2.jpg");
		}
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&-title {
		color: #fff;
		text-align: center;
		margin-bottom: 24px;
		font-size: var(--font-size36);
		font-family: Kyiv Type Sans Heavy2;
	}

	&-list {
		min-height: 85%;
		&-item {
			position: relative;
			margin-bottom: 10px;
			&__title {
				position: relative;

				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 15px;
				padding-right: 30px;

				text-align: center;
				font-family: Kyiv Type Sans Heavy2;
				font-size: var(--font-size20);
			}

			&__text {
				position: relative;

				margin-bottom: 11px;
				// padding: 10px;
				padding-left: 10px;
				padding-right: 15px;
				height: 0;
				overflow: hidden;
				overflow-y: auto;
				text-align: center;

				font-family: Kyiv Type Sans Regular;
				font-size: var(--font-size10);
				line-height: 1.4;

				background-color: var(--main-bg);
				border-end-start-radius: 6px;
				border-end-end-radius: 6px;
				transition: 0.5s;
				height: 100%;
				padding-top: 20px;
				padding-bottom: 20px;
			}

			&__wrapper {
				border-radius: 6px;
				background-color: var(--btn-bg);
				min-width: 100%;

				&-title {
					position: relative;
				}
			}
		}
		&-svg {
			position: absolute;
			top: 50%;
			right: 3%;
			transform: translateY(-50%) rotate(180deg);
		}
	}
}
